@font-face {
  font-family: "Poppins";
  src: url("./design/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Thin";
  src: url("./design/Poppins-Thin.ttf");
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --DarkBlue: hsl(234, 12%, 34%);
  --GreyBlue: hsl(229, 6%, 66%);
  --LightGrey: hsl(0, 0%, 98%);
}

body {
  background-color: var(--LightGrey);
  font-family: "Poppins";
}

.main-text {
  height: 35%;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
  width: 500px;
  height: auto;
  line-height: 7vh;
}

.text-1 {
  font-size: 2rem;
  color: var(--GreyBlue);
  font-weight: 100;
  font-family: "Poppins Thin";
}

.text-2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--DarkBlue);
}

.text-3 {
  font-size: 0.9rem;
  line-height: 3.75vh;
  color: var(--GreyBlue);
  margin-top: 20px;
}

.main-cards {
  height: auto;
  max-height: 70%;
}

.card-grid {
  width: 100%;
  max-height: 600px;
  display: grid;
  grid-template-columns: 110px 110px 110px 110px 110px 110px 110px 110px 110px;
  grid-template-rows: 110px 110px 110px 110px;
  grid-template-areas:
    ". . . a a a . . ."
    "c c c a a a b b b"
    "c c c d d d b b b"
    ". . . d d d . . .";
  grid-gap: 20px;
  justify-content: center;
}

.card {
  width: 330px;
  height: 200px;
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  box-shadow: 0 0 15px -5px black;
}
.card-1 {
  border-top: 5px solid var(--red);
  grid-area: a;
}
.card-2 {
  border-top: 5px solid var(--blue);
  grid-area: b;
}
.card-3 {
  border-top: 5px solid var(--cyan);
  grid-area: c;
}
.card-4 {
  border-top: 5px solid var(--orange);
  grid-area: d;
}

.ttl {
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  font-size: 1.5rem;
  line-height: 50px;
  color: var(--DarkBlue);
  align-self: flex-end;
  margin-bottom: 5px;
}
.subtitle {
  font-family: "Poppins Thin";
  height: 50px;
  color: var(--GreyBlue);
  font-size: 0.9rem;
  line-height: 25px;
}
.image {
  height: 100px;
  display: grid;
  padding-right: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.img {
  height: 60%;
}

footer {
  margin-top: 50px;
}

@media (min-width: 900px) and (max-width: 1250px) {
  .card-grid {
    width: 100%;
    max-height: 600px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 90px 90px 90px 90px;
    grid-template-areas:
      ". . . a a a . . ."
      "c c c a a a b b b"
      "c c c d d d b b b"
      ". . . d d d . . .";
    grid-gap: 20px;
    justify-content: center;
  }
  .card {
    width: 240px;
    height: 160px;
  }

  .title {
    height: 30px;
    line-height: 30px;
  }
  .subtitle {
    height: 30px;
    line-height: 15px;
  }
  .image {
    height: 60px;
  }
}

@media (min-width: 513px) and (max-width: 900px) {
  .card-grid {
    width: 100%;
    max-height: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 400px;
    height: 220px;
    margin-bottom: 25px;
  }

  .title {
    height: 50px;
    line-height: 50px;
  }
  .subtitle {
    height: 50px;
    line-height: 25px;
  }
  .image {
    height: 100px;
  }
}

@media (max-width: 512px) {
  .text-1 {
    font-size: 1.5rem;
  }
  .text-2 {
    font-size: 1.5rem;
  }
  .text {
    width: 90%;
  }

  .text-3 {
    width: 90%;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .card-grid {
    width: 100%;
    max-height: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: clamp(200px, 80%, 400px);
    border-radius: 5px;
    padding: 1rem;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 0 0 15px -5px black;
    margin-bottom: 15px;
  }

  footer {
    margin-top: 50px;
  }

  .title {
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
    color: var(--DarkBlue);
    align-self: flex-end;
    margin-bottom: 5px;
  }
  .subtitle {
    color: var(--GreyBlue);
    font-size: 0.9rem;
    height: 40px;
    line-height: 20px;
    align-self: flex-start;
  }
  .image {
    height: 80px;
    display: grid;
    padding-right: 1rem;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
  }

  .img {
    height: 60%;
  }
  .card-1 {
    margin-top: 0px;
  }

  .card-4 {
    margin-bottom: 0px;
  }
}

@media (max-width: 340px) {
  .text-1 {
    font-size: 1.35rem;
  }
  .text-2 {
    font-size: 1.35rem;
  }
}
