@font-face {
  font-family: "Poppins";
  src: url("../Four-card-feature-section/design/Poppins-Medium.ttf");
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --DarkBlue: hsl(234, 12%, 34%);
  --GreyBlue: hsl(229, 6%, 66%);
  --LightGrey: hsl(0, 0%, 98%);
}

body {
  background-color: var(--LightGrey);
  display: grid;
  grid-template-rows: 1fr 2fr;
  font-family: "Poppins";
}

.main-text {
  height: 35vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 2fr;
  justify-content: center;
  align-items: center;
}

.big-text {
  display: grid;
  height: 15vh;
  grid-template-rows: 1fr 1fr;
  align-self: flex-end;
  margin-top: 50px;
}
.text {
  text-align: center;
  width: 35vw;
  height: 5vh;
  line-height: 5vh;
}

.text-1 {
  font-size: 2rem;
  color: var(--DarkBlue);
}

.text-2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--DarkBlue);
}

.text-3 {
  font-size: 1.15rem;
  overflow-wrap: break-word;
  line-height: 3.75vh;
  color: var(--GreyBlue);
  margin-bottom: 50px;
}

.main-cards {
  height: auto;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
}
.card-grid {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 7.5vw 7.5vw 7.5vw 7.5vw;
  grid-gap: 60px;
  justify-items: center;
  align-items: center;
}

.card {
  width: 20vw;
  height: 13vw;
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  box-shadow: 0 0 15px -5px black;
}
.card-1 {
  grid-column-start: 2;
  border-top: 5px solid var(--red);
  margin-top: 100px;
}
.card-2 {
  grid-column-start: 3;
  grid-row-start: 2;
  border-top: 5px solid var(--cyan);
}
.card-3 {
  grid-column-start: 0;
  grid-row-start: 2;
  border-top: 5px solid var(--orange);
}
.card-4 {
  grid-column-start: 2;
  grid-row-start: 3;
  border-top: 5px solid var(--blue);
  margin-bottom: 50px;
}

.ttl {
  height: 3vw;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  font-size: 1.5rem;
  line-height: 3vw;
  color: var(--DarkBlue);
  align-self: flex-end;
  margin-bottom: 5px;
}
.subtitle {
  color: var(--GreyBlue);
  font-size: 0.9rem;
  line-height: 1.5vw;
}
.image {
  height: 5vw;
  display: grid;
  padding-right: 1rem;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}

img {
  height: 75%;
}
